/application/config/database.php
/upload/images/*
!/upload/images/def_logo.png
!/upload/images/stay.png
/upload/files/*
!/upload/files/stay.png
/assets/captcha/*
/.htaccess

/cgi-bin
/.well-known
/assets/ckfinder/core/connector/php/assets/ckfinder/userfiles/*

# assets/ckfinder/core/connector/php/assets/ckfinder/userfiles/*
assets/ckfinder/config.php
assets/ckfinder/userfiles/*
